.Container {
  background-color: var(--color-white);
}

.Card {
  width: var(--width-card-max);
  margin-left: 5%;
  border: none;
  border-radius: none;
}

.SmallCardImage {
  height: var(--height-image-small);
  border: var(--border-width-thin) solid var(--color-border-light-gray);
}

.SmallCard {
  max-width: var(--width-full);
}

.SmallCard:hover {
  cursor: pointer;
}

.SmallCardTitle {
  height: var(--height-card-title);
  overflow: hidden;
}

.SmallScreenCardImage {
  height: var(--height-image-medium);
  object-fit: cover;
}

.SearchBar {
  height: var(--height-search-bar);
  width: var(--width-search-bar-desktop);
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.InfiniteScrollOuterDiv {
  min-width: var(--width-full);
  height: fit-content;
}

@media (max-width: var(--breakpoint-xl)) {
  .SearchBar {
    margin-bottom: 3%;
  }
}