.Container {
  background-color: var(--color-white);
  border: var(--border-width-thin) solid var(--color-border-gray);
}

.CommentContainer {
  padding: 4%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  border: var(--border-width-thin) solid var(--color-border-gray);
}

.CommentInfinitescroll {
  min-width: var(--width-full);
}
