.Button {
  border-radius: var(--border-radius-lg);
  margin: auto;
  padding: var(--padding-button);
  width: var(--width-button-default);
  border: var(--border-width-thin) solid #aeaeae;
  background-color: var(--color-secondary-beige);
  min-width: 75px;
  font-size: var(--font-size-md);
  color: var(--color-text-dark);
}

.ButtonWide {
  width: var(--width-full);
}

.ButtonSmall {
  width: var(--width-button-small);
}
  
.Button:hover {
  background-color: var(--color-primary-light-pink);
  cursor: pointer;
  color: var(--color-text-dark);
  border: var(--border-width-thin) solid var(--color-text-light-gray);
  box-shadow: var(--box-shadow-light);
  transition: background-color var(--transition-fast);
}

.Button:hover:active {
  background-color: var(--color-primary-light-pink);
  color: var(--color-text-dark);
  border: var(--border-width-thin) solid var(--color-icon-border);
  box-shadow: var(--box-shadow-light);
}

.Button:active {
  background-color: var(--color-primary-light-pink);
  color: var(--color-text-dark);
  border: var(--border-width-thin) solid var(--color-icon-border);
  box-shadow: var(--box-shadow-light);
}

.Button:focus {
  border: none;
  background-color: var(--color-primary-light-pink);
  color: var(--color-text-dark);
  border: var(--border-width-thin) solid var(--color-icon-border);
  box-shadow: var(--box-shadow-light);
}

.Wide {
  padding: var(--padding-button);
  width: var(--width-full);
}
  
@media (max-width: var(--breakpoint-md)) {
  .Button {
    padding: var(--padding-button-small);
    font-size: var(--font-size-sm);
  }
}
  
  
  