.CommentForm {
  background-color: var(--color-white);
  height: fit-content;
  padding: 1%;
  border: var(--border-width-thin) solid var(--color-border-gray);
}

.CommentForm textarea {
  background-color: var(--color-white);
}

.Form {
  border: none;
}

.Button {
  border-radius: 100px;
  padding: 4px 10px;
  width: 15%;
  margin: 15px;
}

.Button:hover {
  cursor: pointer;
}