.DropdownItem {
  display: inline-block;
  align-items: flex-end;
  max-width: 50%;
  padding: 0;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}

.ProfileButton {
  width: 25%;
  border-radius: var(--border-radius-lg);
  margin: auto;
  padding: var(--padding-button);
  border: 3px solid #aeaeae;
  background-color: var(--color-secondary-beige);
  min-width: 75px;
  text-align: center;
  font-size: var(--font-size-md);
}

@media screen and (max-width: 991px) {
  .ProfileButton {
    padding: 10px;
  }
}