.EditFormContainer {
  background-color: var(--color-white);
  padding-bottom: 3%;
}

.UsernameEditForm {
  height: 80vh;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-around;
}