.Input {
  width: 60%;
  border: var(--border-width-thin) solid rgb(254, 166, 180);
  border: var(--border-width-thin) solid rgb(245, 146, 163);
  background-color: #ea9fac;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: var(--font-family-anek);
  text-align: center;
  padding: 10px;
  margin: auto;
}

.Header {
  font-size: 2.7rem;
  line-height: 19px;
  text-align: center;
  color: var(--color-text-dark);
}

.Link {
  font-size: var(--font-size-md);
  text-decoration: none;
  text-align: center;
  display: block;
}

.SignUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Link span {
  color: #042eff;
}

.SignUpContainer {
  padding: 8%;
  background-image: url('../assets/bcg-pawprint.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-primary-light-pink);
  width: 60%;
  height: fit-content;
  padding: 4%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(74, 74, 74, 0.1);
  overflow: auto;
}

@media screen and (max-width: 500px) {
  .Header {
    font-size: 1.7rem;
    line-height: 10px;
  }

  .CardContainer {
    width: 100%;
  }
}

@media screen and (max-width: var(--breakpoint-xl)) {
  .CardContainer {
    width: 100%;
  }
}
